@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
*{
    list-style: none;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: #7ddf96;
    color: #505978;
}

ul li a{
    display: block;
    color: #505978;
}


.navbar{
    width: 100%;
    margin: 60px auto;
    height: 80px;
    background: #fff;
    padding: 0 50px;
    border-radius: 3px;
}

ul.menu{
    display: flex;
}

.navbar ul.menu a{
    margin: 0 10px;
    width: 100%;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    transition:all 0.2s ease;
}

.navbar .logo{
    font-weight: 700;
    font-size:  24px;
    letter-spacing: 2px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .menu{
    margin-left: 5px;
    display: flex;
}

.navbar .menu a{
    height: 100%;
    padding: 20px 12px;
}

.navbar .menu a:hover,
.navbar .menu a.active{
    border-bottom: 3px solid #505978;
}

.content{
    max-width: 500px;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 60px 45px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%,30%);
    border-radius: 20px;
}

.content h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    font-style: bold;
    color: #3aaf9f;
}

.content .form {
    width:100%;
    height: 100%;
}

.content .form .input_field{
    margin-bottom: 10px;
}

.content .form .input_field input {
    width: 100%;
    padding: 12px;
    padding-left: 15px;
    border: none;
    background: #eeeeee;
}

.content .form .input_field{
    position: relative;
    margin-bottom: 10px;
}


.content .form button{
    background-color: #505978;
    border: none;
    color: white;
    text-decoration: solid;
    font-size: 20px;
    padding: 5px 16px;
    text-align: center;
    display: flex;
    border-radius: 5px;
}


